<!-- <app-search-wiki-organizations></app-search-wiki-organizations> -->
<div fxLayout="column" fxLayoutAlign="center center">
    <br>
    <br>
    <h1 class="mat-display-3" style="text-align: center; width: 90%;">Pérfiles de Organizaciones Cubanas e Internacionales</h1>
    <br>
    <mat-card 
        style= "background-color: #fff3cd; 
                color: #85694b;
                width: 70%;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                letter-spacing: 0.5px;"
    >
        Este servicio esta basado en <a href="https://scholia.toolforge.org/">SCHOLIA</a>  para proveer pérfiles sobre trabajos investigativos, asi como de los autores, citaciones, temas y de las organizaciones deonde se relizan.
    </mat-card>
    <br>
    <br>
    <wiki-org-search style="width: 70%;"></wiki-org-search>
</div>
