<div fxLayout="column nowrap" fxLayoutAlign="center center">
    <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="this.dataChild"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [maxYAxisTickLength]="maxYAxisTickLength"
        [maxXAxisTickLength]="maxXAxisTickLength"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical>

    <mat-chip-set>
        <mat-chip >{{xAxisLabel}}</mat-chip>
    </mat-chip-set>
</div>

