.apps{
  margin: .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: smaller;
  img{
    width: 55px;
    height: 55px
  }
}

.w-90{
  width: 90%;
}

.my-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
