table {
    width: 100%;
  }
  
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// .link{
//   color: #4d4d4d;
//   //text-decoration: underline;
// }

// .link:hover{
//   color: #272727;
//   cursor: pointer;
//   font-size: medium;
// }
  
  /* td, th {
    width: 25%;
  } */