<div

  fxLayout="row wrap"
  fxLayoutAlign="center"
  fxLayoutGap="8px"
>

<ng-container *ngFor="let item of secondaryMenuElements">
  <ng-container *ngIf="!item.disabled">
    <ng-container *ngIf="item.childrenMenu; else noChildrenItem">
      <button mat-button [matMenuTriggerFor]="menu">
        {{ item.nameTranslate | translate }}
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let child of item.childrenMenu">
          <sceiba-ui-menu-item-element
            [item]="child"
          ></sceiba-ui-menu-item-element>
        </ng-container>
      </mat-menu>
    </ng-container>
    <ng-template #noChildrenItem>
      <sceiba-ui-menu-secondary-item
        [item]="item"
      ></sceiba-ui-menu-secondary-item>
    </ng-template>
  </ng-container>
  <!-- <ng-template #disabledItem>
    <button mat-button disabled>
      {{ item.nameTranslate | translate }}
    </button>
  </ng-template> -->
</ng-container>

