
<div style="margin: 2em; text-align: center;">
  <h2>La página que ha solicitado no se encontró.</h2>
  <a [routerLink]="['/']" class="sceiba-a">
      <h4>Regresar Inicio</h4>
      <img src="assets/images/svg/error-6482984-sceiba.svg"
      alt="Página no encontrada"
      style="width: 50%; margin-bottom: -20px; padding: 16px;" [ngStyle.xs]="{width: '100%'}">
  </a>
  <br/>
  <small>Imagen modificada a partir de <a href="https://pixabay.com/es/users/cripi-1028451/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3060993">Christelle Olivier</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3060993">Pixabay</a>
  </small>
</div>
