<div
  *ngIf="!isHome"
  class="bg-primary-color"
  style="
    height: 200px;
    width: 100%
  "
></div>

<div *ngIf="!isHome; else outHome"
     fxLayout="row"
     fxLayoutAlign="center center"
     style="border-radius: 40px 40px 0 0"
>
  <div
    [ngStyle.xs]="{ width: '95%' }"
    style="
      margin-top: -100px;
      width: 90%;
      background-color: white;
      border-radius: 40px 40px 0 0;
      box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.088);
    "
  >
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #outHome>
  <router-outlet></router-outlet>
</ng-template>
