<form [formGroup]="formGroup" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <!-- Start Country -->
    <mat-form-field appearance="outline" class="w-70">
        <mat-label>País</mat-label>
        <input matInput placeholder="Escriba el nombre del País" [value]="formGroup.controls.country.value" formControlName="country" readonly>
    </mat-form-field>
    <!-- Start Country -->

    <!-- Start Country_Code -->
    <mat-form-field appearance="outline" class="w-25">
        <mat-label>Código del País</mat-label>
        <input matInput placeholder="Escriba el Código del País" [value]="formGroup.controls.country_code.value" formControlName="country_code" readonly>
    </mat-form-field>
    <!-- End Country_Code -->

    <!-- Start State -->
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Provincia</mat-label>
        <mat-select class="w-100" placeholder="Seleccione la provincia" [value]="formGroup.controls.state_code.value"
            formControlName="state_code">
            <mat-option *ngFor="let item of dpa" [value]="item.iso">
                {{ item.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- End State -->

    <!-- Start municipality -->
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Municipio</mat-label>
        <mat-select class="w-100" placeholder="Seleccione el municipio" [value]="formGroup.controls.municipality_dpa.value"
            formControlName="municipality_dpa">            
            <mat-option *ngFor="let item of municipalities" [value]="item.dpa" >{{ item.name }}</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- End municipality -->

    <!-- Start city -->
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Ciudad</mat-label>
        <input matInput placeholder="Escriba el nombre de la ciudad... " [value]="formGroup.controls.city.value" formControlName="city">
    </mat-form-field>
    <!-- End city -->

    <!-- Start line_1 -->
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Reparto, calle, edificio, número...</mat-label>
        <input matInput placeholder="Escriba el #, calle, edificio, apartamento... " [value]="formGroup.controls.line_1.value" formControlName="line_1">
    </mat-form-field>
    <!-- End line_1 -->

    <!-- Start Line_1 -->
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Entre calles</mat-label>
        <input matInput placeholder="Escriba los entre calles" [value]="formGroup.controls.line_2.value" formControlName="line_2">
    </mat-form-field>
    <!-- End Line_1 -->

    <!-- Start Line_1 -->
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Adicionales</mat-label>
        <input matInput placeholder="Escriba datos adicionales de la dirección" [value]="formGroup.controls.line_3.value" formControlName="line_3">
    </mat-form-field>
    <!-- End Line_1 -->

    <!-- Start Lat -->
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Latitud</mat-label>
        <input matInput type="number" placeholder="Escriba la latitud" [value]="formGroup.controls.lat.value" formControlName="lat">
    </mat-form-field>
    <!-- End Lat -->

    <!-- Start lng -->
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Longitud</mat-label>
        <input matInput type="number" placeholder="Escriba la longitud" [value]="formGroup.controls.lng.value" formControlName="lng">
    </mat-form-field>
    <!-- End lng -->

    <!-- Start postcode -->
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Código postal</mat-label>
        <input matInput placeholder="Escriba el código postal" [value]="formGroup.controls.postcode.value" formControlName="postcode">
    </mat-form-field>
    <!-- End postcode -->

    <mat-checkbox [value]="formGroup.controls.primary.value" formControlName="primary">Es la dirección principal</mat-checkbox>
</form>