<mat-card aria-label="Asignando permisos a un usuario sobre una fuente">
  <mat-card-header>
    <mat-card-title>{{ source.name }}</mat-card-title>
    <mat-card-subtitle>{{ source.id }}</mat-card-subtitle>
    <mat-card-subtitle>Permisos de edición y gestión</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header> Gestores </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let item of managers">
            {{ item.email }}
            <button
              mat-icon-button
              aria-label="Eliminar"
              matTooltip="Eliminar"
              (click)="denyManager(item)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header> Editores </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item *ngFor="let item of editors">
            {{ item.email }}
            <button
              mat-icon-button
              aria-label="Eliminar"
              matTooltip="Eliminar"
              (click)="denyEditor(item)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <catalog-user-search (selectedUser)="selectedUser($event)"></catalog-user-search>
    <mat-chip *ngIf="user">{{ user.email }}</mat-chip>

    <button
      *ngIf="user"
      mat-raised-button
      color="primary"
      (click)="grantEditor()"
    >
      Permiso Edicion
    </button>
    <button
      *ngIf="user"
      mat-raised-button
      color="warn"
      (click)="grantManager()"
    >
      Permiso Gestion
    </button>
  </mat-card-actions>
</mat-card>
