<div fxLayout="column" fxLayoutAlign="center center">
  <div class="w-100 bg-primary-color" fxLayoutAlign="center center">
    <div class="pt-2em pb-2em ph-10">
      <h1
        class="mat-display-2"
        style="margin: 0; text-align: center; color: white"
      >
        Sceiba
      </h1>
      <h2
        class="mat-display-3"
        style="margin: 0; text-align: center; color: white"
      >
        {{ "PUB_CIENT_CUBANAS" | translate }}
      </h2>
    </div>
  </div>

  <!-- <img src="assets/icons/sceiba.top.bottom.2.svg" alt="" style="margin-top: -4px; width: 100%;"> -->

  <!-- <div class="w-50 pt-50 ph-10" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center">
        <div  fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-label class="mat-display-4" style="margin-bottom: 0;">{{ documentTotal }}</mat-label>
            <mat-label class="mat-display-1 text-center" style="margin-left: .5em; margin-bottom: 0;">
                <p style="margin: 0;">Documentos</p>
                <p style="margin: 0;">Recolectados</p>
            </mat-label>
        </div>
        <div class="text-center right-stats">
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Organizaciones</div>
            </mat-label>
            <mat-divider></mat-divider>
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Personas</div>
            </mat-label>
            <mat-divider></mat-divider>
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Temáticas</div>
            </mat-label>
        </div>
    </div> -->

  <!-- SLIDES -->
  <!-- <div class="container">

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/sceiba/home.slider1')"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/sceiba/home.slider2')"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/sceiba/home.slider3')"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/sceiba/home.slider4')"></div>
        </div>

        <a class="prev" (click)="plusSlides(-1)">
            <mat-icon class="mat-18">navigate_before</mat-icon>
        </a>
        <a class="next" (click)="plusSlides(1)">
            <mat-icon class="mat-18">navigate_next</mat-icon>
        </a>
        <div style="text-align:center; margin-top: -20px;">
            <span class="dot" (click)="currentSlide(1)"></span>
            <span class="dot" (click)="currentSlide(2)"></span>
            <span class="dot" (click)="currentSlide(3)"></span>
            <span class="dot" (click)="currentSlide(4)"></span>
        </div>
    </div> -->

    <div class="" ngClass.xs="pt-20 ph-30 pb-20">
      <h1 class="mat-display-1 text-center" style="margin: 20px">
        {{ "PROD_SERV" | translate }}
      </h1>
      <div
        class="pt-20"
        ngClass.xs="pt-5"
        fxLayout="row wrap"
        fxLayoutAlign="center"
        fxLayoutGap="20px"
        fxLayout.xs="column"
      >
        <div class="pt-20" fxFlex="30%">
          <mat-card class="ligth-green-card">
            <mat-card-header>
              <div mat-card-avatar class="product1-image"></div>
              <!-- <mat-card-title>{{ 'SCEIBA_DESCUBRE' | translate }}</mat-card-title> -->
              <mat-card-title>{{
                "SCEIBA_DESCUBRE_SUB" | translate
              }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div
                class="p"
                markdown
                [src]="getPath('/assets/markdown/sceiba/home.catalog.abstract')"
              ></div>
            </mat-card-content>
            <mat-card-actions>
              <a
                mat-button
                [routerLink]="[env.discover]"
                class="apps"
                matTooltip="{{ 'CATALOGO' | translate }}"
                >{{ "ACCEDER" | translate }}</a
              >
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="pt-20" fxFlex="30%">
          <mat-card class="ligth-green-card">
            <mat-card-header>
              <div mat-card-avatar class="product2-image"></div>
              <!-- <mat-card-title>{{ 'SCEIBA_ORGANIZACIONES' | translate }}</mat-card-title> -->
              <mat-card-title>{{
                "SCEIBA_ORGANIZACIONES_SUB" | translate
              }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div
                class="p"
                markdown
                [src]="getPath('/assets/markdown/sceiba/home.orgs')"
              ></div>
            </mat-card-content>
            <mat-card-actions>
              <a
                mat-button
                [routerLink]="[env.organizations]"
                class="apps"
                matTooltip="{{ 'ORGANIZACIONES' | translate }}"
                >{{ "ACCEDER" | translate }}</a
              >
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="pt-20" fxFlex="30%">
          <mat-card class="ligth-green-card">
            <mat-card-header>
              <div mat-card-avatar class="product3-image"></div>
              <!-- <mat-card-title>{{ 'SCEIBA_VOCABULARIOS' | translate }}</mat-card-title> -->
              <mat-card-title>{{
                "SCEIBA_VOCABULARIOS_SUB" | translate
              }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div
                class="p"
                markdown
                [src]="getPath('/assets/markdown/sceiba/home.vocabularios')"
              ></div>
            </mat-card-content>
            <mat-card-actions>
              <a
                mat-button
                href="{{ env.vocabularies }}"
                class="apps"
                matTooltip="{{ 'VOCABULARIOS' | translate }}"
                >{{ "ACCEDER" | translate }}</a
              >
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="pt-20" fxFlex="30%">
          <mat-card class="ligth-green-card">
            <mat-card-header>
              <div mat-card-avatar class="product4-image"></div>
              <!-- <mat-card-title>{{ 'DIRECTORIO_MES' | translate }}</mat-card-title> -->
              <mat-card-title>{{
                "DIRECTORIO_MES_SUB" | translate
              }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div
                class="p"
                markdown
                [src]="getPath('/assets/markdown/sceiba/home.mes')"
              ></div>
            </mat-card-content>
            <mat-card-actions>
              <a
                mat-button
                [routerLink]="[env.revistasmes]"
                class="apps"
                matTooltip="{{ 'REVISTAS_MES' | translate }}"
                >{{ "ACCEDER" | translate }}</a
              >
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="pt-20" fxFlex="30%">
          <mat-card class="ligth-green-card">
            <mat-card-header>
              <div mat-card-avatar class="card1-header-image"></div>
              <!-- <mat-card-title>{{ 'DIRECTORIO_MES' | translate }}</mat-card-title> -->
              <mat-card-title>{{ "PERSONAS_SUB" | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div
                class="p"
                markdown
                [src]="getPath('/assets/markdown/sceiba/home.persons')"
              ></div>
            </mat-card-content>
            <mat-card-actions>
              <a
                mat-button
                class="apps"
                [routerLink]="[env.persons]"
                matTooltip="{{ 'PERSONAS_SUB' | translate }}"
                >{{ "ACCEDER" | translate }}</a
              >
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="pt-20" fxFlex="30%">
          <mat-card class="ligth-green-card">
            <mat-card-header>
              <div mat-card-avatar class="card2-header-image"></div>
              <mat-card-title>{{ "EVALUACION" | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div
                class="p"
                markdown
                [src]="getPath('/assets/markdown/sceiba/home.evaluations')"
              ></div>
            </mat-card-content>
            <mat-card-actions>
              <a
                mat-button
                class="apps"
                [routerLink]="[env.evaluations]"
                matTooltip="{{ 'EVALUACION' | translate }}"
                >{{ "ACCEDER" | translate }}</a
              >
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  <!-- <img src="assets/icons/sceiba.middle.top.svg" alt="" style="margin-bottom: -4px; width: 100%;"> -->
  <!-- <div class="w-100 bg-primary-color" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 20px; width: 100%;">
        <div class="w-70 white-title" fxLayout="center">
            <div class="p" markdown [src]="getPath('/assets/markdown/sceiba/home.sceiba')"></div>
        </div>
    </div> -->
  <!-- <img src="assets/icons/sceiba.top.bottom.2.svg" alt="" style="margin-top: -4px; width: 100%;"> -->
</div>
