<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-between center"
  style="height: 80px; padding: 0 16px"
>
  <span class="mat-h2">Búsqueda</span>

</div>

<toco-progress [loading]="loading"></toco-progress>
<div class="m-1" *ngIf="sr">
  <div
    fxLayout="row nowrap"
    fxLayoutAlign="space-between center"
    fxLayout.xs="column"
  >
    <button
      mat-icon-button
      (click)="drawer.toggle()"
      matTooltip="Filtros avanzados"
    >
      <mat-icon>filter_list</mat-icon>
    </button>
    <sceiba-ui-search-query-input
      [query]="query"
      class="p-1"
      (queryChange)="queryChange($event)"
      style="width: 100%"
    ></sceiba-ui-search-query-input>
  </div>
</div>
<mat-drawer-container autosize>
  <mat-drawer position="start">
    <seiba-ui-search-aggregations
      *ngIf="sr"
      [aggregations]="sr.aggregations"
      [selectedAggr]="aggrsSelection"
      (keySelect)="aggrChange($event)"
      (moreKeys)="moreKeyClick($event)"
    >
    </seiba-ui-search-aggregations>

    <!-- <toco-search-aggregations-visual
        *ngIf="sr"
        [aggregations]="aggr_keys"
        [selectedAggr]="aggrsSelection"
        (keySelect)="aggrChange($event)"
      ></toco-search-aggregations-visual> -->
  </mat-drawer>

  <div *ngIf="search_type; then search_list; else search_charts">
    {{ search_type }}
  </div>

  <!-- templatefor search list -->
  <ng-template #search_list>
    <div class="m-1" *ngIf="sr">
      <mat-paginator
        [length]="sr.hits.total"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageChange($event)"
      >
      </mat-paginator>

      <records-search-list
        [hitList]="sr.hits"
        [recordsPath]="recordsPath"
      ></records-search-list>

      <mat-paginator
        [length]="sr.hits.total"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageChange($event)"
      >
      </mat-paginator>
    </div>
  </ng-template>

  <!-- template for charts -->
  <ng-template #search_charts>
    <div class="m-1" *ngIf="sr">
      <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
        <button
          mat-icon-button
          (click)="drawer.toggle()"
          matTooltip="Filtros avanzados"
        >
          <mat-icon>filter_list</mat-icon>
        </button>

        <mat-card>
          <!-- <section class="example-section"> -->
          <!--  <label class="example-margin">Align:</label> -->
          <!-- <mat-radio-group [(ngModel)]="typeChart">
            <mat-radio-button class="example-margin" value="Polar Chart">Pastel</mat-radio-button>
            <mat-radio-button class="example-margin" value="Vertical Bar">Barra</mat-radio-button>
            <mat-radio-button class="example-margin" value="Gauge Chart">Calibración</mat-radio-button>
         </mat-radio-group> -->
          <!-- </section> -->
        </mat-card>
      </div>

      <toco-search-aggregations-visual
        *ngIf="sr"
        [typeChart]="typeChart"
        [aggregations]="aggr_keys"
        [selectedAggr]="aggrsSelection"
        (keySelect)="aggrChange($event)"
      ></toco-search-aggregations-visual>
    </div>
  </ng-template>
</mat-drawer-container>
