<!-- <h1>{{ org.name }}</h1> -->
<toco-progress [loading]="!org"></toco-progress>

<div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
    style="height: 80px; padding: 0 16px;"
>
    <div *ngIf="view_type; then view_cuor_button else view_wikidata_button"></div>

    <ng-template #view_wikidata_button>
        <button mat-button  (click)="changeView()" matTooltip="Regresar">
            <mat-icon class="mat-18">exit_to_app</mat-icon>
        </button>
    </ng-template>

    <ng-template #view_cuor_button>
        <div>
            <button mat-button *ngIf="hasPermission" routerLink="/{{org.id}}/edit" matTooltip="Editar la Organización">
            <!-- <button mat-button *ngIf="'true'" routerLink="/{{org.id}}/edit" matTooltip="Editar la Organización"> -->
                <mat-icon class="mat-18">mode_edit</mat-icon>
            </button>
            <!-- <span class="mat-h2" style="margin: 0;">{{org.name}}</span> -->
        </div>

        <!-- <button mat-button  *ngIf="showWikidataButton()" (click)="changeView()" matTooltip="Ver información de Wikidata"> -->
        <div>
          <button mat-button  *ngIf="'true'" (click)="changeView()" matTooltip="Ver información de Wikidata">
              <mat-icon svgIcon="wikidata" class="mat-18"></mat-icon>
          </button>
        <app-pdf-excel [inputValue]="org" type="pdf"></app-pdf-excel>
        </div>
    </ng-template>
</div>

<div *ngIf="view_type; then view_cuor else view_wikidata"></div>

<ng-template #view_wikidata>
    <wiki-org-employes-profile  [data_viewer]="data"></wiki-org-employes-profile>
</ng-template>

<ng-template #view_cuor >
  <div id="content">
    <toco-org-view [org]="org"></toco-org-view>

  <section class="form-container" *ngIf="!user">
    <div style="display: flex; align-items: center">
      <span style="margin-right: 10px; color: orange; font-size: 30px" class="material-icons">report_problem</span>
      <h2 >Reportar anomalías o posibles duplicados: </h2>
    </div>
    <div style="display: flex; align-items: center; padding: 0 30px; font-size: 16px">
      <mat-checkbox style="margin: 0 10px" [checked]="isAnomaly" (change)="onAnomalyChange($event)">Anomalía</mat-checkbox>
      <mat-checkbox style="margin: 0 10px" [checked]="isDuplicate" (change)="onDuplicateChange($event)">Posible duplicado</mat-checkbox>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmitReport()">
      <mat-form-field  *ngIf="isAnomaly === true" style="width: 100%; margin-left: 30px; padding-top: 10px" appearance="outline" >
        <mat-label >Descripción</mat-label>
        <textarea
          style="font-size: 16px"
          matInput
          placeholder="Describa la anomalía que desea reportar aquí"
          formControlName="anomalyDescription"
          rows="10"
        >
          </textarea>
        <button type="submit" mat-raised-button [disabled]="!form.valid">Enviar</button>
      </mat-form-field>
      <div *ngIf="isDuplicate === true">
        <toco-org-search
          style=" margin-left: 30px"
          [orgFilter]="orgFilter"
          [label]="'Organización que se considera duplicado'"
          [cleaning]="'false'"
          [appearance]="'outline'"
          (selectedOrg)="receivingMaster($event)"
          (keyup)="loading = true">
        </toco-org-search>
        <mat-form-field style="width: 100%; margin-left: 30px; padding-top: 10px" appearance="outline" >
          <mat-label>Descripción</mat-label>
          <textarea
            style="font-size: 16px"
            matInput
            placeholder="Describa la organización duplicada aquí (opcional)"
            formControlName="duplicateDescription"
            rows="10"
          >
          </textarea>
          <button type="submit" mat-raised-button [disabled]="!form.valid">Enviar</button>
        </mat-form-field>
      </div>
    </form>
  </section>
  </div>
</ng-template>
