

<div fxLayout="column" style="padding: 0px 16px; white-space: normal">
  <h1 class="mat-headline-6"> Organizaciones Cubanas e Internacionales</h1>
  <span class="mat-caption" color="primary">
    Servicio esta basado en
    <a href="https://scholia.toolforge.org/" target="_blank">SCHOLIA</a> para proveer pérfiles
    sobre trabajos investigativos, asi como de los autores, citaciones, temas y
    de las organizaciones deonde se relizan.
  </span>
</div>
<div fxLayout="row" fxLayoutAlign="center" style="margin:2em">
  <wiki-org-search style="width: 70%"></wiki-org-search>
</div>
