<div flexLayout="row" fxLayoutAlign="center" [ngStyle]="{width: content.width}">
    <div class="container">
        <img
            *ngIf="this.content.formControl.value == ''"
            mat-card-image
            src="/assets/images/userprofile-rect.png"
            alt="{{content.label}}"
            class="image" style="border-radius: 0;">

        <img 
            *ngIf="this.content.formControl.value != ''"
            mat-card-image
            [src]="avatar()"
            alt="{{content.label}}"
            class="image">
        <!-- <div class="middle">
        </div> -->
        <!-- <button mat-fab color="accent" (click)="onClick">
        </button> -->
        <div
            id="input-file"
            fxLayout="row"
            fxLayoutAlign="center center">
                <button mat-fab color="primary" (click)="onClick">
                    <mat-icon class="mat-18">edit</mat-icon>
                    <input
                        matRipple
                        #inputElement
                        id="inputElement"
                        type="file"
                        enctype="multipart/form-data"
                        accept="image/*"
                        (change)="handleFileInput($event.target.files)">
                </button>
        </div>
    </div>
</div>
