<div fxLayout="row wrap" fxLayoutAlign="space-between center" style="height: 80px; padding: 0 16px;">
    <span class="mat-h2" style="margin: 0;">{{title}}</span>
    <a mat-button href="{{goWikipedia()}}" target="_blank" matTooltip="ver mas en wikipedia">
        <mat-icon class="mat-18">visibility</mat-icon>
    </a>
</div>

<div style="padding: 16px;">
  <!-- <a  class="link" href="goWikipedia()" target="_blank" >ver mas en wikipedia</a> -->
  <ng-container *ngIf="content != undefined " >
    <div id="divContent" style="text-align: justify; width: 90%; "> </div>
  </ng-container>

  <br>
  <mat-card
        style= "background-color: #fff3cd;
                color: #85694b;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                letter-spacing: 0.5px;"
    >
        Este servicio esta basado en <a href="https://scholia.toolforge.org/">SCHOLIA</a>  para proveer perfiles sobre trabajos investigativos, asi como de los autores, citaciones, temas y de las organizaciones donde se relizan.
    </mat-card>
    <br>
    <br>
  <!-- <wiki-org-search style="width: 70%;"></wiki-org-search> -->

  <mat-chip-listbox aria-label="org selection" >
      <span>Similares: </span>
      <ng-container *ngFor="let sim of similars">
        <mat-chip-option class="linkSimilars" *ngIf="this.title != sim.label" matTooltip={{sim.description}} (click)="redirectHere(sim.QID, sim.label, sim.lang)">
          {{sim.label}}
        </mat-chip-option>
      </ng-container>
  </mat-chip-listbox>
  <br>
  <br>
  <br>
  <expansion-panel-layout [services]="services"></expansion-panel-layout>

</div>
