.link{
    color: blue;
    //text-decoration: underline;
  }
  
  .link:hover{
    cursor: pointer;
  }

  .linkSimilars{
    font-size: small;
  }
   
  .linkSimilars:hover{
    cursor: pointer;
  }