.footer-wrapper {
    width: 100%;
    color: white;
    font-weight: 500;
  }
  
  .footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
  }
  
  // .footer-mobile {
  //   justify-content: space-evenly;
  // }
  
  .section {
    padding: 30px 20px;
  }
  
  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about-section p {
    width: 360px;
  }
  
  .grid-links {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 20px;
  }
  
  .links-section a {
    color: white;
    text-underline-offset: 10px;
  }
  
  .links-section a:hover {
    background: hsla(0, 0%, 100%, 0.1);
  }
  
  .follow-section {
    display: flex;
    flex-direction: column;
  }
  
  .pt-2em {
    padding-top: 2em;
  }
  
  .divider {
    background: hsla(0, 0%, 100%, 0.2);
    width: 1px;
  }
  
  .iframe {
    width: 380;
    height: 180;
    border: none;
    overflow: hidden;
    padding-left: 10px;
  }
  
  .partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  @media only screen and (max-width: 300px) {
    .about-section p {
      width: 250px;
    }
  
    .grid-links {
      // grid-template-columns: repeat(2, auto);
    }
  
    .section {
      padding: 30px 0;
      width: 85%;
    }
  
    .iframe {
      width: 240px;
      padding-left: 0;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .about-section p {
      width: 280px;
    }
  
    .grid-links {
      // grid-template-columns: repeat(2, auto);
      grid-gap: 20px;
    }
  }