
  <button mat-button-fab (click)="dialogRef.close()"
  style="right: 0px; margin: 5px;position: fixed; ">
    <mat-icon >close</mat-icon>
  </button>


<h2 mat-dialog-title>Seleccionar Organización</h2>
<div mat-dialog-content class="height-auto">
  <sceiba-ui-search-select-org
    [multipleSelection]="false"
    [showActions]="false"
    [filterCuban]="cuban"
    [showTitle]="false"
    (selectedOrgEmiter)="selectedOrg($event)"
  >
  </sceiba-ui-search-select-org>
</div>
<div mat-dialog-actions>
  <div fxLayout="column wrap" style="margin: 10px">
    <mat-form-field *ngIf="canSelectRole">
      <mat-label>Rol</mat-label>
      <mat-select [required]="true" [(value)]="role" required>
        <mat-option *ngFor="let item of roles" value="{{ item.value }}"
          >{{ item.label }}</mat-option
        >
      </mat-select>
      <button mat-raised-button (click)="ok()">OK</button>
    </mat-form-field>


  </div>
  <div fxLayout="column wrap" style="margin: 10px">
    <mat-label *ngIf="org">{{ org.name }}</mat-label>

    <ng-container *ngIf="parents.length > 0">
      <mat-label>Se añadirá también: </mat-label>
      <ng-container *ngFor="let item of parents">
        <mat-label>{{ item.name }}</mat-label>
      </ng-container>
    </ng-container>
  </div>
</div>
