.main-container {
  max-width: 1440px;
  margin: auto;
}
.mat-card-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
}

.mat-card-margin {
  margin: 0 10px;
}
