.container {
    padding: 20px 40px;
    box-sizing: border-box;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell{
    font-size: 14px;
}

.p{
    font-style: inherit;
    font-size: x-large;
}

.options {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
