#inputElement{
    position: absolute;
    z-index: 9;
    opacity: 0;
    height: 35px;
    width: 35px;
    right: -35px;
    top: 2px;
    cursor: pointer;
}
.input-width{
    width: 49.5%;
}
@media(max-width: 599px) {
    .input-width{
        width: 100%;
    }
}