
<div fxLayout="column" fxLayoutAlign="center center">

    <div class="w-100 bg-primary-color" fxLayoutAlign="center center">
        <div class="pt-2em pb-2em ph-10">
            <h3 class="mat-display-2" style="margin: 0; text-align: center; color: white;">{{ 'PUB_CIENT_CUBANAS' | translate }}</h3>
        </div>
    </div>

    <!-- <div class="w-100 bg-primary-color" fxLayout="row" fxLayoutAlign="center center"> -->
    <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
        <div class="w-80" style="margin: 1em 0;">
            <toco-search-query-input [buttonColor]="'primary'" [query]="''" (queryChange)="queryChange($event)"></toco-search-query-input>
        </div>
    </div>

    <!-- <img src="assets/icons/sceiba.top.bottom.2.svg" alt="" style="margin-top: -4px; width: 100%;"> -->

    <!-- <div class="w-50 pt-50 ph-10" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center">
        <div  fxLayout.xs="column" fxLayoutAlign="center center">
            <mat-label class="mat-display-4" style="margin-bottom: 0;">{{ documentTotal }}</mat-label>
            <mat-label class="mat-display-1 text-center" style="margin-left: .5em; margin-bottom: 0;">
                <p style="margin: 0;">Documentos</p>
                <p style="margin: 0;">Recolectados</p>
            </mat-label>
        </div>
        <div class="text-center right-stats">
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Organizaciones</div>
            </mat-label>
            <mat-divider></mat-divider>
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Personas</div>
            </mat-label>
            <mat-divider></mat-divider>
            <mat-label class="mat-h2">
                <div mat-line class="mat-display-1" style="margin-bottom: 0;">1233</div>
                <div mat-line>Temáticas</div>
            </mat-label>
        </div>
    </div> -->

    <!-- SLIDES -->
    <!-- <div class="container">

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/home.slider1')"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/home.slider2')"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/home.slider3')"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">{{ slideIndex }} / 4</div>
            <div class="text" markdown [src]="getPath('/assets/markdown/home.slider4')"></div>
        </div>

        <a class="prev" (click)="plusSlides(-1)">
            <mat-icon class="mat-18">navigate_before</mat-icon>
        </a>
        <a class="next" (click)="plusSlides(1)">
            <mat-icon class="mat-18">navigate_next</mat-icon>
        </a>
        <div style="text-align:center; margin-top: -20px;">
            <span class="dot" (click)="currentSlide(1)"></span>
            <span class="dot" (click)="currentSlide(2)"></span>
            <span class="dot" (click)="currentSlide(3)"></span>
            <span class="dot" (click)="currentSlide(4)"></span>
        </div>
    </div> -->

    <div class="" ngClass.xs="pt-20 ph-30 pb-20">
        <h1 class="mat-display-1 text-center" style="margin: 0;">{{ 'PROD_SERV' | translate }}</h1>
        <div class="pt-20" ngClass.xs="pt-5" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout.xs="column">
            <div class="pt-20" fxFlex=30%>
                <mat-card class="ligth-green-card">
                    <mat-card-header>
                        <div mat-card-avatar class="product1-image"></div>
                        <!-- <mat-card-title>{{ 'SCEIBA_DESCUBRE' | translate }}</mat-card-title> -->
                        <mat-card-title>{{ 'SCEIBA_DESCUBRE_SUB' | translate }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.catalog')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button [routerLink]="[env.discover]" class="apps" matTooltip="{{ 'CATALOGO' | translate }}">{{ 'ACCEDER' | translate }}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="pt-20" fxFlex=30%>
                <mat-card class="ligth-green-card">
                    <mat-card-header>
                        <div mat-card-avatar class="product2-image"></div>
                        <!-- <mat-card-title>{{ 'SCEIBA_ORGANIZACIONES' | translate }}</mat-card-title> -->
                        <mat-card-title>{{ 'SCEIBA_ORGANIZACIONES_SUB' | translate }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.orgs')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button href="{{env.organizations}}" target="_blank" class="apps" matTooltip="{{ 'ORGANIZACIONES' | translate }}">{{ 'ACCEDER' | translate }}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="pt-20" fxFlex=30%>
                <mat-card class="ligth-green-card">
                    <mat-card-header>
                        <div mat-card-avatar class="product3-image"></div>
                        <!-- <mat-card-title>{{ 'SCEIBA_VOCABULARIOS' | translate }}</mat-card-title> -->
                        <mat-card-title>{{ 'SCEIBA_VOCABULARIOS_SUB' | translate }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.vocabularios')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button href="{{env.vocabularies}}" target="_blank" class="apps" matTooltip="{{ 'VOCABULARIOS' | translate }}">{{ 'ACCEDER' | translate }}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="pt-20" fxFlex=30%>
                <mat-card class="ligth-green-card">
                    <mat-card-header>
                        <div mat-card-avatar class="product4-image"></div>
                        <!-- <mat-card-title>{{ 'DIRECTORIO_MES' | translate }}</mat-card-title> -->
                        <mat-card-title>{{ 'DIRECTORIO_MES_SUB' | translate }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.mes')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button href="{{env.revistasmes}}" target="_blank" class="apps" matTooltip="{{ 'REVISTAS_MES' | translate }}">{{ 'ACCEDER' | translate }}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="pt-20" fxFlex=30%>
                <mat-card class="ligth-green-card">
                    <mat-card-header>
                        <div mat-card-avatar class="card1-header-image"></div>
                        <!-- <mat-card-title>{{ 'DIRECTORIO_MES' | translate }}</mat-card-title> -->
                        <mat-card-title>{{ 'PERSONAS_SUB' | translate }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.persons')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button  target="_blank" class="apps" matTooltip="{{ 'PROXIMAMENTE' | translate }}">{{ 'PROXIMAMENTE' | translate }}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="pt-20" fxFlex=30%>
                <mat-card class="ligth-green-card">
                    <mat-card-header>
                        <div mat-card-avatar class="card2-header-image"></div>
                        <!-- <mat-card-title>{{ 'DIRECTORIO_MES' | translate }}</mat-card-title> -->
                        <mat-card-title>{{ 'EVALUACION' | translate }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="p" markdown [src]="getPath('/assets/markdown/home.evaluations')"></div>
                    </mat-card-content>
                    <mat-card-actions>
                        <a mat-button  target="_blank" class="apps" matTooltip="{{ 'PROXIMAMENTE' | translate }}">{{ 'PROXIMAMENTE' | translate }}</a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

    <!-- <img src="assets/icons/sceiba.middle.top.svg" alt="" style="margin-bottom: -4px; width: 100%;"> -->
    <!-- <div class="w-100 bg-primary-color" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 20px; width: 100%;">
        <div class="w-70 white-title" fxLayout="center">
            <div class="p" markdown [src]="getPath('/assets/markdown/home.sceiba')"></div>
        </div>
    </div> -->
    <!-- <img src="assets/icons/sceiba.top.bottom.2.svg" alt="" style="margin-top: -4px; width: 100%;"> -->



</div>
