
  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
    style="height: 80px; padding: 0 16px;"
  >

    <span class="mat-h2">Búsqueda</span>

    <div *ngIf="search_type; then search_list_button else search_charts_button"></div>

    <ng-template #search_list_button>
      <button mat-button  matTooltip="Estadisticas" (click)="changeView()">
        <mat-icon>insert_chart</mat-icon>
      </button>
    </ng-template>

    <ng-template #search_charts_button>
      <button mat-button  matTooltip="Organizaciones" (click)="changeView()">
        <mat-icon>list</mat-icon>
      </button>
    </ng-template>

  </div>

  <toco-progress [loading]="loading"></toco-progress>

<mat-drawer-container autosize style="background-color: white;">
    <mat-drawer #drawer mode="side" opened position="start">
     <!--  <app-aggregations fxLayout="row wrap" fxLayout.xs="column wrap" fxFlex="{{ currentlayout.width }}"
        fxLayoutAlign="start center" fxLayoutAlign.xs="center center" fxLayoutGap="1em"
        class=" back-grey mat-elevation-z8"></app-aggregations>
      <toco-org-search></toco-org-search>  -->
      <toco-search-aggregations
        *ngIf="sr"
        [aggregations]="sr.aggregations"
        [selectedAggr]="aggrsSelection"
        (keySelect)="aggrChange($event)"

      ></toco-search-aggregations>

      <!-- <toco-search-aggregations-visual
        *ngIf="sr"
        [aggregations]="aggr_keys"
        [selectedAggr]="aggrsSelection"
        (keySelect)="aggrChange($event)"
      ></toco-search-aggregations-visual> -->

    </mat-drawer>

    <div *ngIf="search_type; then search_list else search_charts">{{search_type}}</div>

<!-- templatefor search list -->
<ng-template #search_list>

  <div class="m-1" *ngIf="sr">

    <div fxLayout="row nowrap" fxLayout.xs="column" fxLayoutAlign="space-between center">
      <button
        mat-button
        (click)="drawer.toggle()"
        matTooltip="Filtros avanzados"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
      <toco-search-query-input [query]="query" class="p-1" (queryChange)="queryChange($event)" style="width: 100%;"></toco-search-query-input>
    </div>


    <search-list [hitList]="sr.hits"></search-list>

    <mat-paginator
      [length]="sr.hits.total"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChange($event)"
    >
    </mat-paginator>
  </div>
</ng-template>

<!-- template for charts -->
<ng-template #search_charts>

  <div class="m-1" *ngIf="sr">

    <div fxLayout="row nowrap" fxLayoutAlign="space-between center">
      <button
        mat-button
        (click)="drawer.toggle()"
        matTooltip="Filtros avanzados"
      >
        <mat-icon>filter_list</mat-icon>
      </button>

      <mat-card>
        <!-- <section class="mat-card-section"> -->
         <!--  <label class="mat-card-margin">Align:</label> -->
          <mat-radio-group [(ngModel)]="currentChartType">
            <mat-radio-button class="mat-card-margin" value="chartType.polar">Pastel</mat-radio-button>
            <mat-radio-button class="mat-card-margin" value="chartType.verticalBar">Barra</mat-radio-button>
            <!-- <mat-radio-button class="mat-card-section" value="chartType.pieGrid">Pie Grid</mat-radio-button> -->
            <mat-radio-button class="mat-card-section" value="chartType.gauge">Calibración</mat-radio-button>
         </mat-radio-group>
        <!-- </section> -->
      </mat-card>

    </div>

    <toco-search-aggregations-visual
        *ngIf="sr"
        [chartType]="currentChartType"
        [aggregations]="aggr_keys"
        [selectedAggr]="aggrsSelection"
        (keySelect)="aggrChange($event)"
      ></toco-search-aggregations-visual>
  </div>
</ng-template>

  </mat-drawer-container>
