<mat-tab-group>

  <mat-tab label="General" color="primary">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon >description</mat-icon>
        Cantidad de patentes
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>chat</mat-icon>
        Identificadores
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>chat</mat-icon>
        Afiliaciones
      </mat-list-item>
    </mat-list>

    <!-- <section class="social-media" style="margin-top: 50px; margin-left: 50px;">
      <h4>Perfiles de patentes abiertas</h4>
      <a mat-button href="#" target="_blank">
        <mat-icon>facebook</mat-icon>
      </a>

      <a mat-button href="#" target="_blank">
        <mat-icon>facebook</mat-icon>
      </a>
    </section> -->

  </mat-tab>

  <mat-tab label="Listado de patentes" color="primary">
    <mat-list role="list">
      <mat-list-item role="listitem">
      </mat-list-item>
    </mat-list>
  </mat-tab>

</mat-tab-group>

