<div fxLayout="column nowrap" fxLayoutAlign="center center">
    <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="dataChild"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)">
    </ngx-charts-pie-chart>

    <mat-chip-listbox [selectable]="'false'" class="control-without-interactivity">
        <mat-chip-option [selectable]="'false'" [disableRipple]="'true'">{{xAxisLabel}}</mat-chip-option>
    </mat-chip-listbox>


</div>
