section{
  padding-left: 10%;
  padding-right: 10%;
}

mat-card{
  margin-top: 50px;
}

.mat-mdc-card{
  border: none;
  box-shadow: none;
}

.authors, .identifiers, .affiliations, .summary, .language, .country{
  border: 1px solid rgb(230, 227, 227);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}


table{
  width: 100%;
  height: 100%;
}

h4{
  color: rgb(148, 146, 146);
  margin-left: 10px;
  margin-bottom: 10px;
}

// span{
//   padding-left: 15px;
//   padding-right: 15px;
//   padding-top: 5px;
//   padding-bottom: 5px;
//   border-radius: 50%;
//   background-color: rgb(227, 225, 225);
//   color: rgb(35, 34, 34);
//   margin-left: 10px;
// }

.chips{
  mat-chip{
    margin-left: 10px;
  }
}

.flex{
  display: flex;
  justify-content: space-between;

  div{
    width: 45%;
  }
}

// .grid-container {
//   display: grid;
//   grid-template-columns: repeat(2, 50%);
//   padding-left: 50px;
//   padding-top: 20px;
// }

.row {
  display: flex;
  margin-bottom: 30px;

  .title, .data-elements {
    font-size: 18px;
  }

  .title {
    opacity: 0.6;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.expansion{
  width: 70%;
}

.icons-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-bottom: 20px;

  .icon-message{
    margin-left: 25px;
  }
}

@media screen and (max-width: 658px) {
  section{
    padding-left: 5%;
    padding-right: 5%;
  }
}


@media screen and (max-width: 560px) {
  .chips{
    mat-chip{
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 424px) {
  .flex{
    flex-direction: column;

    div{
      width: 100%;
    }
  }
}
