<toco-org-tree-viewer
  [organizations]="organizations"
  [orgRelationshipType]="'child'"
  [iconAction]="'vpn_key'"
  [labelAction]="'Permisos'"
  (action)="openPermission($event)"
>

</toco-org-tree-viewer>

<!-- <mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
>
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
  >
    <button mat-icon-button disabled></button>
    {{ node.item.metadata.name }}
    <button
        mat-icon-button
        aria-label="Permisos"
        matTooltip="Permisos"
        (click)="openPermission(node.item)"
      >
        <mat-icon>vpn_key</mat-icon>
      </button>
  </mat-tree-node>
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
  >
    <button
      mat-icon-button
      [attr.aria-label]="'toggle ' + node.filename"
      matTreeNodeToggle
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    {{ node.item.metadata.name }}
    <button
        mat-icon-button
        aria-label="Permisos"
        matTooltip="Permisos"
        (click)="openPermission(node.item)"
      >
        <mat-icon>vpn_key</mat-icon>
      </button>
    <mat-progress-bar
      *ngIf="node.isLoading"
      mode="indeterminate"
      class="example-tree-progress-bar"
    ></mat-progress-bar>
  </mat-tree-node>
</mat-tree> -->
