<mat-form-field>
  <input
    matInput
    (keyup)="managerApplyFilter($event.target.value)"
    placeholder="Buscar nombre"
  />
</mat-form-field>
<table
  mat-table
  matSort
  [dataSource]="managerDataSource"
  [ngStyle]="{ 'width.%': '100' }"
>
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="source_status">
    <th mat-header-cell *matHeaderCellDef>Estado</th>
    <td mat-cell *matCellDef="let element">
      <mat-label *ngIf="element.source_status == 'APPROVED'">Público</mat-label>
      <mat-label *ngIf="element.source_status != 'APPROVED'"
        >En Revisión</mat-label
      >
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <a
        mat-icon-button
        [routerLink]="['/sources',element.id, 'view']"
        aria-label="Editar"
        matTooltip="Editar"
      >
        <mat-icon>edit</mat-icon>
      </a>
      <button
        mat-icon-button
        aria-label="Permisos"
        matTooltip="Permisos"
        (click)="openPermission(element)"
      >
        <mat-icon>vpn_key</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  #managerPaginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  [length]="managerLength"
></mat-paginator>
