.w-card, .w-60{
    min-width: 15em !important;
    width: auto;
    margin: 2em;
}
.m-1{
    margin: 1em;
}
.w-60{
    width: 60%;
}
.mat-image-in-card{
    width: 100% !important;
    min-width: 15em;
    max-width: 30em;
    height: auto;
    max-height: 15em;
}

.mat-card-with-img{
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


.main-sceiba {
  background-image: url("/assets/icons/sceiba.top.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  -webkit-backdrop-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}

.main-title{
  margin: 0;
}

.text-get-started{
  font-size: x-large;
  text-align: center;
  margin-right: 2em;
}

.button-get-started{
  height: 2.0em;
  font-size: 24px;
  line-height: 46px;
}

.a-grey{
  color: #000;
  text-decoration: none;
}
.a-grey:hover{
  text-decoration: underline;
}
.pt-5{
  padding-top: 5px;
}
.pt-20{
  padding-top: 20px;
}
.pt-30{
  padding-top: 30px;
}
.pt-50{
  padding-top: 50px;
}
.pt-2em{
  padding-top: 2em;
}

.pb-20{
  padding-bottom: 20px;
}
.pb-2em{
  padding-bottom: 2em;
}
.pb-1em{
  padding-bottom: 1em;
}

.ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.ph-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.w-20{
  width: 25%;
  min-width: 15em;
}
.w-50{
  width: 50%;
  min-width: 15em;
}
.w-70{
  width: 70%;
  min-width: 15em;
}
.w-80{
  width: 80%;
  min-width: 15em;
}
.w-100 {
  width: 100%;
  min-width: 15em;
}
.text-center{
  text-align: center;
}

.text-xxl{
  font-size: 9vw;
}

.text-xl{
  font-size: 5vw;
}

.text-m{
  font-size: 4vw;
}

.text-s{
  font-size: 2.2vw;
}

.text-xs{
  font-size: 1.8vw;
}
.right-stats{
  min-width: 11em;
  padding: 0 16px;
  margin: 1em 0;
}

.line-vertical{
  width: 60%;
  border-left: solid 2px grey;
  align-self: normal !important;
  padding: 16px;
}
.aling-center{
  margin: 0.5em;
  max-width: 8em;
  text-align: center;
}

.w-img{
  width: 100px;
  border-radius: 50%;
}

/***** SLIDES *****/
.mySlides {display: none}


/* Slideshow container */
.container {
  //max-width: 500px;
  min-height: 300px;
  position: relative;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 16px;
}

.container p {
  font-size: medium;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: 20px;
  height: 20px;
  padding: 16px;
  margin-top: -22px;
  color: white;
  transition: 0.6s ease;
  border-radius: 50%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #007f3f;
  font-size: xx-large;
  padding: 10px 50px;
  //position: absolute;
  //bottom: 100px;
  // width: 95%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width: 650px){
  .text{
      font-size: medium;
  }
  // .container .content{
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  // }
  // .container p {
  //     font-size: 3vw;
  // }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (max-width: 600px) {
//     .container p {
//         font-size: 3vw;
//     }
// }

// __<<ngThemingMigrationEscapedComment10>>__
// @media only screen and (max-width: 768px) {
//     .container p {
//         font-size: 2.5vw;
//     }
// }


@media only screen and (max-width: 667px) {
  .text {
      bottom: 40px;
  }
  .container {
      min-height: 150px;
  }
  .prev, .next {
      top: 40%;
  }

  .main-sceiba {
      background-image: url("/assets/icons/sceiba.top.xs.svg");
  }

}


.card1-header-image {
  background-image: url('/assets/images/proximamente/people1.png');
  background-size: cover;
}

.card2-header-image {
  background-image: url('/assets/images/proximamente/evaluation2.png');
  background-size: cover;
}

.card3-header-image {
  background-image: url('/assets/images/proximamente/folder1.png');
  background-size: cover;
}

.bgtranparent {
  background-color: rgba(255,255,255,0.8);
}

.cards-nexts {
  padding-top: 20px;
  align-items: end;
  margin-right: 0px !important;
}


.product1-image {
  background-image: url("/assets/icons/catalog.svg");
  background-size: cover;
}

.product2-image {
  background-image: url("/assets/icons/organizacion.svg");
  background-size: cover;
}

.product3-image {
  background-image: url("/assets/icons/vocabs.svg");
  background-size: cover;
}

.product4-image {
  background-image: url("/assets/icons/mes.svg");
  background-size: cover;
}

.white-title {
  color: white;
  font-size: x-large;
  text-align: center;
}
