<div fxLayout="column" fxLayoutAlign="center center">
  <div class="w-100 bg-primary-color" fxLayoutAlign="center center">
    <div class="pt-2em pb-2em ph-10">
      <h1
        class="mat-display-2"
        style="margin: 0; text-align: center; color: white"
      >
        {{ "SCEIBA_CATALOGO_SUB" | translate }}
      </h1>
    </div>
  </div>

  <div
  class="w-70"
  style="margin-top: 0.5em; margin-left: 4em"
  [ngStyle.xs]="{ width: '90%', 'margin-left': '1em', 'padding-top': '60px' }"
  >
    <div
    class="mat-h2 text-format"
      markdown
      [src]="
        'assets/markdown/catalog/home.catalog.' + transServ.currentLang + '.md'
      "
      style="margin: 2em"
    ></div>
    <div style="margin: 2em">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="[env.catalog, 'sources']"
      >
        {{ "EXPLORE_CATALOG" | translate }}
      </button>
    </div>
  </div>
</div>
