<mat-toolbar
fxLayout="row wrap"
fxLayoutAlign="space-between center"
[ngStyle]="{
  width: '100%',
  height: 'auto',
  padding: '16px',
  'min-height': '56px'
}"
>
<div *ngIf="record" fxLayout="column" style="padding: 0px 16px;white-space: normal;">
  <h1 class="mat-headline-6"> {{ record.title }}</h1>
  <span class="mat-caption" color="primary"> SceibaID: {{ record.id }} </span>
  <span class="mat-caption"> Tipo: Resultado </span>
</div>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center" *ngIf="record">
  <mat-card>
    <mat-card-content>
      <!-- identifiers -->
      <static-table
        *ngIf="record.identifiers && record.identifiers.length"
        [desc]="'Identificadores'"
        [value]="record.identifiers"
        [columnsObjectProperty]="['idtype', 'value']"
        [columnsHeaderText]="['Tipo', 'Valor']"
      >
      </static-table>
      <!-- SOURCE -->
      <app-record-view-source
        [source]="record.source_repo"
      ></app-record-view-source>
      <old-app-record-view-source [source]="record.source_repo">
      </old-app-record-view-source>

      <!-- <static-link
        *ngIf="record.source_repo"
        [className]="'custom'"
        [desc]="'Recolectado en: '"
        [routerlink]="[env.discover, 'search']"
        [queryparams]="{ sources: record.source_repo.name }"
        [value]="record.source_repo.name"
      >
      </static-link> -->

      <!-- CREATORS -->
      <static-table-link
        *ngIf="record.creators && record.creators.length"
        [desc]="'Autores'"
        [value]="record.creators"
        [routerlink]="[env.discover, 'search']"
        [queryparamVariable]="['creators', 'q']"
        [columnsObjectProperty]="['name', 'affiliations']"
        [columnsHeaderText]="['Nombre', 'Afiliación']"
      >
      </static-table-link>

      <!-- KEYWOARD -->
      <static-chips-link
        *ngIf="record.keywords && record.keywords.length"
        [desc]="'Palabras Claves'"
        [value]="record.keywords"
        [routerlink]="[env.discover, 'search']"
        [queryparamVariable]="'keywords'"
      >
      </static-chips-link>

      <!-- DESCRIPTION -->
      <fieldset class="static-table-fieldset">
        <legend class="static-table-fieldset-legend">Resumen</legend>
        <mat-card-content>
          <p class="mat-h3" *ngIf="record.description">
            {{ record.description }}
          </p>
        </mat-card-content>
        <mat-card-actions
          align="end"
          *ngIf="record.identifiers && record.identifiers.length"
        >
          <ng-container *ngFor="let identifier of record.identifiers">
            <ng-container
              *ngIf="identifier.idtype == 'url' || identifier.idtype == 'URL'"
            >
              <a
                mat-button
                href="{{ identifier.value }}"
                target="__blank"
                color="primary"
                >Leer en la fuente</a
              >
            </ng-container>
          </ng-container>
        </mat-card-actions>
      </fieldset>
      <!-- SOURCES -->
      <static-chips
        *ngIf="record.sources && record.sources.length"
        [desc]="'Fuentes'"
        [value]="record.sources"
      >
      </static-chips>

      <!-- TYPES -->
      <static-chips
        *ngIf="record.types && record.types.length"
        [desc]="'Tipos de recurso'"
        [value]="record.types"
      >
      </static-chips>

      <!-- FORMATS -->
      <static-chips
        *ngIf="record.formats && record.formats.length"
        [desc]="'Formatos en que se publicó'"
        [value]="record.formats"
      >
      </static-chips>

      <!-- COVERAGES -->
      <!-- <static-chips
                *ngIf="record.coverages && record.coverages.length"
                [desc]="'Formatos en que se publicó'"
                [value]="record.coverages">
            </static-chips> -->

      <!-- PUBLISHER -->
      <static-text
        *ngIf="record.publisher"
        [desc]="'Publicado por'"
        [value]="record.publisher"
      >
      </static-text>

      <!-- RIGHTS -->
      <static-chips
        *ngIf="record.rights && record.rights.length"
        [desc]="'Derechos del artículo'"
        [value]="record.rights"
      >
      </static-chips>

      <!-- PUBLICATION DATE -->
      <static-text
        *ngIf="record.publication_date"
        [desc]="'Fecha de Publicación'"
        [value]="record.publication_date"
      >
      </static-text>

      <!-- LANGUAGE-->
      <static-text
        *ngIf="record.language"
        [desc]="'Lenguage'"
        [value]="record.language"
      >
      </static-text>

      <!-- CONTRIBUTORS -->
      <!-- <static-table
                *ngIf="record.contributors && record.contributors.length"
                [desc]="'Listado de contribuyentes'"
                [value]="record.contributors"
                [columnsObjectProperty]="['name', 'roles']"
                [columnsHeaderText]="['Nombre', 'Roles']">
            </static-table> -->
    </mat-card-content>
  </mat-card>
</div>
