<div fxLayout="column" fxLayoutAlign="center center">
  <div class="w-100 bg-primary-color" fxLayoutAlign="center center">
    <div class="pt-2em pb-2em ph-10">
      <h1
        class="mat-display-2"
        style="margin: 0; text-align: center; color: white"
      >
        {{ "SCEIBA_PROYECTOS_SUB" | translate }}
      </h1>
    </div>
  </div>

  <!-- <div class="w-100 bg-primary-color" fxLayout="row" fxLayoutAlign="center center"> -->
  <div class="w-100" fxLayout="row" fxLayoutAlign="center center">
    <div class="w-80" style="margin: 1em 0">
      <toco-search-query-input
        [buttonColor]="'primary'"
        [query]="''"
        (queryChange)="queryChange($event)"
        class="w-100"
      ></toco-search-query-input>
    </div>
  </div>

  <!-- <div
    class="w-70"
    style="margin-top: 0.5em; margin-left: 4em"
    [ngStyle.xs]="{ width: '90%', 'margin-left': '1em', 'padding-top': '60px' }"
  >
    <div
      class="mat-h2 text-format"
      markdown
      [src]="
        '/assets/markdown/personas/home.people.' +
        (transServ.currentLang == 'es' ? 'es.md' : 'en.md')
      "
    ></div>
  </div> -->
</div>
