.layout-primary {
  height: 500px !important;
}

.header {
  width: 100%;
  height: auto;
  padding: 16px;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > div {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1.5;

  .user {
    display: flex;
    flex-direction: column;
  }
  .user p{
    margin: 0;
  }
}

.not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25dvh;

  span {
    font-size: 5rem;
    width: 5rem;
  }

  p: {
    font-size: 2.5rem;
  }
}
