<!-- <div infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollUpDistance]="0.5" [infiniteScrollThrottle]="10" (scrolled)="onScrollDown()"
  (scrolledUp)="onScrollUp()"> -->

<!-- <toco-page-header [info]="['Catálogo de Revistas Científicas Cubanas']">
    </toco-page-header> -->

<mat-toolbar
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
  [ngStyle]="{
    width: '100%',
    height: 'auto',
    padding: '16px',
    'min-height': '56px'
  }"
>
  <span [ngStyle]="{ 'white-space': 'normal' }">
    <span class="mat-h2">{{ "CATALOG_TITLE" | translate }}</span>
  </span>
  <button mat-icon-button (click)="drawer.toggle()" matTooltip="Filtros">
    <mat-icon>filter_list</mat-icon>
  </button>
</mat-toolbar>
<toco-progress [loading]="!initfilters"></toco-progress>

<div *ngIf="initfilters">
  <!-- fxLayout="{{ currentlayout.layout }}" fxLayout.xs="column nowrap" fxLayoutAlign="{{ currentlayout.aling }}" -->
  <mat-drawer-container style="background-color: white">
    <mat-drawer
      #drawer
      [hasBackdrop]="false"
      position="end"
      style="min-width: 30%;"
    >
    {{mode}}
      <catalog-search-filters
        fxLayout="row wrap"
        fxLayout.xs="column wrap"
        fxLayoutAlign="start center"
        fxLayoutAlign.xs="center center"
        fxLayoutGap="1em"
        [params]="filtersParams"
        (paramsChange)="filtersChange($event)"
        [topMainOrganization]="topMainOrganization"

      >
      </catalog-search-filters>
      <!-- fxFlex="{{ currentlayout.width }}" -->
    </mat-drawer>
    <div class="mx-1">
      <toco-progress [loading]="isLoading()"></toco-progress>

      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageChange($event)"
      >
      </mat-paginator>
      <catalog-search-list
        [hitList]="dataSource"
        [catalogPath]="catalogPath"
        style="height: 50em;"
      ></catalog-search-list>

      <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageChange($event)"
      >
      </mat-paginator>
    </div>
  </mat-drawer-container>
</div>

<!--
          </mat-drawer-content>

        </mat-drawer-container> -->

<!-- </div> -->
