<div fxLayout="column" fxLayoutAlign="center center">
    <br>
    <br>
    <h1 class="mat-display-3" style="text-align: center; margin-bottom: 10px; width: 90%;">{{title}} </h1>
    <a class="link" style="text-align: center; margin-bottom: 12vh;" (click)="redirectOrcid(orcid)" > https://orcid.org/{{orcid}} </a>
    <br>
    <div id="divContent" style="text-align: justify; width: 90%; "> </div>
    <a *ngIf="content != '' "  class="link" (click)="goWikipedia()" >ver mas en wikipedia</a>
    
   <br>
    <wiki-org-search style="width: 70%;"></wiki-org-search>
    <br>
    <br>
    
    <expansion-panel-layout [services]="services"></expansion-panel-layout>
</div>