<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-between center"
  style="height: 80px; padding: 0 16px"
>
  <span class="mat-h2">Desambiguación</span>
</div>

<toco-progress [loading]="loading"></toco-progress>

<mat-horizontal-stepper
  linear
  #stepper
  (selectionChange)="changingStep($event)"
>
  <mat-step [stepControl]="masterFormControl">
    <ng-template matStepLabel>Seleccione una Organización</ng-template>

    <button mat-raised-button (click)="addMaster()">Buscar Organización</button>

    <!-- <sceiba-ui-search-select-org
        [multipleSelection]="false"
        [showActions]="false"
        [filterCuban]="true"
        [showTitle]="true"
        (selectedOrgEmiter)="receivingMaster($event)"
      >
      </sceiba-ui-search-select-org> -->
    <!--
        <app-org-get
          (selectedOrg)="receivingMaster($event)">
        </app-org-get> -->

    <toco-org-view *ngIf="masterOrganization" [org]="masterOrganization">
    </toco-org-view>

    <div fxLayout="row wrap" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" matStepperNext>
        Siguiente
      </button>
    </div>
  </mat-step>

  <mat-step [stepControl]="secundaryFormGroup">
    <ng-template matStepLabel>Seleccione organizaciones análogas</ng-template>

    <button mat-raised-button (click)="addSecundaries()">
      Buscar organizaciones
    </button>

    <!-- <app-org-get
          (selectedOrg)="receivingSecundaries($event)">
        </app-org-get> -->

    <!-- <toco-org-search
        [orgFilter]="orgFilter"
        [label]="'Seleccionando organizaciones que son análogas'"
        [cleaning]="'true'"
        [appearance]="'outline'"
        (selectedOrg)="receivingSecundaries($event)"
        (keyup)="loading = true">
      </toco-org-search> -->

    <!-- <mat-action-list *ngIf="secundaryFormGroup">
        <ng-container *ngFor="let org of secundaryFormGroup.value.analogas; let pos = index">
            <button mat-list-item
                (click)="deleteSecundaryOrg(pos)" matTooltip="Click para 'ELIMINAR'" matTooltipClass="tooltip-red">
                {{ org.name }}
            </button>
        </ng-container>
      </mat-action-list>    -->

    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let org of secundariesOrganizations; let pos = index"
        [expanded]="step === pos"
        (opened)="setStep(pos)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <div
            fxLAyout="row"
            fxLayoutAlign="space-between center"
            style="width: 100%"
          >
            <mat-label>
              <strong>{{ org.name }}</strong></mat-label
            >

            <button
              mat-button
              (click)="deleteSecundaryOrg(pos)"
              matTooltip="Eliminar"
            >
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </div>
        </mat-expansion-panel-header>

        <toco-org-view [org]="org"> </toco-org-view>

        <!-- <div
              fxLAyout="row"
              fxLayoutAlign="space-between start"
              fxFlexFill>

              <app-disambiguate-card-chips-field
                chipsTitle="Identificadores"
                [contentList]="org.identifiers"
                idName="idtype"
                valueName="value"
                style="margin: .5em;">
              </app-disambiguate-card-chips-field>

              <app-disambiguate-accord-chips-field
                accordionChipsTitle="Acrónimos con que se conoce la Organización"
                [contentList]="org.acronyms"
                style="margin: .5em;">
              </app-disambiguate-accord-chips-field>

              <app-disambiguate-accord-chips-field
                accordionChipsTitle="Otros nombres con los que se conoce la Organización"
                [contentList]="org.aliases"
                style="margin: .5em;">
              </app-disambiguate-accord-chips-field>
            </div> -->
      </mat-expansion-panel>
    </mat-accordion>

    <div fxLayout="row wrap" fxLayoutAlign="end center">
      <button
        mat-raised-button
        matStepperPrevious
        color="accent"
        class="mt-1 mx-1"
      >
        Anterior
      </button>
      <button
        mat-raised-button
        matStepperNext
        color="primary"
        class="mt-1 mx-1"
      >
        Siguiente
      </button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Desambiguar metadatos</ng-template>

    <app-disambiguation
      #disambiguatecomp
      [masterOrganization]="masterOrganization"
      [secundariesOrganizations]="secundariesOrganizations"
      [showSecundaries]="showSecundaries"
    ></app-disambiguation>

    <div fxLayout="row wrap" fxLayoutAlign="end center">
      <button
        mat-raised-button
        matStepperPrevious
        color="accent"
        class="mt-1 mx-1"
      >
        Anterior
      </button>
      <button
        mat-raised-button
        matStepperNext
        color="primary"
        class="mt-1 mx-1"
      >
        Siguiente
      </button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Editar y/o Finalizar</ng-template>

    <org-edit-form
      #orgeditcomp
      *ngIf="masterOrganization"
      [org]="masterOrganization"
      [loading]="'false'"
    ></org-edit-form>

    <div fxLayout="row wrap" fxLayoutAlign="end center">
      <button
        mat-raised-button
        color="accent"
        matStepperPrevious
        class="mt-1 mx-1"
      >
        Anterior
      </button>
      <ng-container *ngIf="isValidForm(); else templateButtonUpdate">
        <button
          mat-raised-button
          color="primary"
          class="mt-1 mx-1"
          (click)="goDisambiguate(true)"
        >
          Finalizar
        </button>
        <button
          mat-stroked-button
          color="primary"
          class="mt-1 mx-1"
          (click)="goDisambiguate()"
        >
          Guardar y seguir desambiguando
        </button>
      </ng-container>
      <ng-template #templateButtonUpdate>
        <button
          mat-raised-button
          color="primary"
          class="mt-1 mx-1"
          (click)="goDisambiguate(true)"
          disabled
        >
          Finalizar
        </button>
        <button
          mat-stroked-button
          color="primary"
          class="mt-1 mx-1"
          (click)="goDisambiguate()"
          disabled
        >
          Guardar y seguir desambiguando
        </button>
      </ng-template>
    </div>
  </mat-step>
</mat-horizontal-stepper>
