<mat-toolbar >
  <mat-toolbar-row
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
    style="height: auto !important; min-height: 80px"
  >
    <div class="menu-full">
      <span style="width: 5%;"></span>
      <a mat-button routerLink="/">{{ "HOME" | translate }}</a>
      <a mat-button href="https://cuba-organizaciones.sceiba.org" target="_blank">{{ "ORGANIZACION" | translate }}</a>
      <a mat-button href="https://cuba-personas.sceiba.org" target="_blank">{{ "PERSONAS" | translate }}</a>
      <a mat-button href="https://cuba-catalogo.sceiba.org" target="_blank">{{ "SCEIBA_CATALOGO" | translate }}</a>
      <a mat-button href="https://cuba-revistasmes.sceiba.org" target="_blank">{{ "DIRECTORIO_MES" | translate }}</a>
      <a mat-button routerLink="/eval">{{ "EVALUACION_APP" | translate }}</a>
      <a mat-button href="https://vocabularios.sceiba.cu/es" target="_blank">{{ "SCEIBA_VOCABULARIOS" | translate }}</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
