<div style="padding: 10px; max-width: 500px">
  <h3 mat-dialog-title style="color: #dd2c00; font-weight: bold">
    Seguro que desea eliminar el proyecto?
  </h3>
  <hr />
  <div mat-dialog-content>
    <p style="font-size: 2rem">
      El proyecto eliminado no se podra recuperar, estos cambios son
      permanentes.
    </p>
    <br />
    <div
      mat-dialog-actions
      style="display: flex; width: 100%; justify-content: space-between"
    >
      <button mat-raised-button mat-dialog-close (click)="onNoClick()">
        Cerrar
      </button>
      <button
        mat-raised-button
        style="background-color: #dd2c00; color: white"
        (click)="onAccept()"
      >
        <div *ngIf="isLoading">
          <mat-spinner
            color="white"
            style="height: 20px; width: 20px; stroke: white"
          ></mat-spinner>
        </div>
        <div *ngIf="!isLoading">
          <label>Aceptar</label>
        </div>
      </button>
    </div>
  </div>
</div>
