<fieldset
  *ngIf="source"
  class="static-table-fieldset"
  style="margin: -4px 0 24px"
>
  <legend class="static-table-fieldset-legend">Recolectado en:</legend>

  <mat-accordion>
    <mat-expansion-panel class="">
      <mat-expansion-panel-header>
        {{ source.name }}
      </mat-expansion-panel-header>
      <static-text
        *ngIf="source.source_type"
        [desc]="'Tipo'"
        [value]="source.source_type"
      >
      </static-text>
      <static-text
        *ngIf="source.source_status"
        [desc]="'Estado'"
        [value]="source.source_status"
      >
      </static-text>
      <static-table
        *ngIf="source.identifiers && source.identifiers.length"
        [desc]="'Identificadores'"
        [value]="source.identifiers"
        [columnsObjectProperty]="['idtype', 'value']"
        [columnsHeaderText]="['Tipo', 'Valor']"
        class="green-bg"
      >
      </static-table>

      <mat-action-row>
        <a
          mat-button
          [routerlink]="[env.discover, 'search']"
          [queryParams]="{ sources: source.name }"
        >
          Buscar en esta fuente
      </a>
        <a mat-button [routerlink]="[env.catalog, 'sources', source.id]">
          Ver en el Catálogo
        </a>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</fieldset>
