<div
  class="center-elements"
  appearance="legacy"
  aria-label="'MENU_INICIO' | translate"
  fxLayout="row wrap"
  fxLayoutAlign="center"
  fxLayoutGap="8px"
>
  <ng-container *ngFor="let item of menuItems">
    <!-- Handle branch node buttons here -->
    <ng-container *ngIf="item.childrenMenu && item.childrenMenu.length > 0">
      <ng-container *ngIf="item.svgIcon || item.icon; else noIcon">
        <button mat-icon-button [matMenuTriggerFor]="menu.childMenu" matTooltip="{{ item.nameTranslate | translate }}" [disabled]="item.disabled">
          <mat-icon [svgIcon]="item.svgIcon" >{{item.icon}}</mat-icon>
        </button>
      </ng-container>
      <ng-template #noIcon>
        <button mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">
          {{item.nameTranslate | translate }}
        </button>
      </ng-template>
      <app-menu-item #menu [subMenuElements]="item.childrenMenu" [isMenuApps]="item.isMenuApps"></app-menu-item>
    </ng-container>


    <!-- Leaf node buttons here -->
    <ng-container *ngIf="!item.childrenMenu || item.childrenMenu.length === 0">
      <ng-container *ngIf="item.click; else useLink">
        <button (click)="item.click()" [disabled]="item.disabled">
          <mat-icon [svgIcon]="item.svgIcon" *ngIf="item.icon || item.svgIcon">{{item.icon}}</mat-icon>
          <span>{{ item.nameTranslate | translate }}</span>
        </button>
      </ng-container>
      <ng-template #useLink>
        <ng-container *ngIf="item.useRouterLink; else useHrefMenu">
          <button mat-button [routerLink]="item.href" [disabled]="item.disabled" (click)="item.click()">
            <mat-icon [svgIcon]="item.svgIcon" *ngIf="item.icon || item.svgIcon">{{item.icon}}</mat-icon>
            <span>{{ item.nameTranslate | translate }}</span>
          </button>
        </ng-container>
        <ng-template #useHrefMenu>
            <a mat-button [target]="item.target" [href]="item.href" [disabled]="item.disabled" (click)="item.click()">
              <mat-icon [svgIcon]="item.svgIcon" *ngIf="item.icon || item.svgIcon">{{item.icon}}</mat-icon>
              <span>{{item.nameTranslate | translate}}</span>
            </a>
        </ng-template>
      </ng-template>
      </ng-container>
  </ng-container>
</div>
